body 
{
    font-family: Arial, sans-serif;
}

#menu 
{
    display: flex;
    justify-content: center;
}

.menuItem 
{
    margin: 10px;
    text-align: center;
}

.menuItem img 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}
